body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
div {
  text-align: center;
}
h1 {
  background-color: rgba(35, 7, 160, 0.911);
  color: rgb(230, 231, 126);
  padding: 20px 30px;
  border-radius: 20px;
  border: 1px solid black;
}
#btn {
  padding: 15px 20px;
  background-color: rgb(58, 235, 14);
  border-radius: 10px;
  cursor: pointer;
  font-size: 110%;
}
#colortxt {
  font-weight: bold;
  font-size: 125%;
}
